body{
    height: 1500px;
    background-color: black;
}
.div1{
    width: 250px;
    height: 150px;
    border-radius: 20px;
    /* background-color: black; */
    animation-name: change;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    position: absolute;
    animation-delay: 2s;
    
}
@keyframes change {
    0%{
        left:0px;
    }
    100%{
        left:1090px;
    }
    
}
.div2{
    width:250px;
    height: 150px;
    border-radius: 20px;
    /* background-color: aqua; */
    animation-name: abdo;
    animation-fill-mode: forwards;
    animation-duration: 8s;
    position: absolute;
    /* margin-left: 1050px; */
    top:180px;
    animation-delay: 7s;
    right:0;
    
    

}
@keyframes abdo {
    0%{
        right:0px;

    }
    100%{
        right:1090px;
    }
    
}
.div3{
    width: 250px;
    height: 150px;
    border-radius: 20px;
    /* background-color: rgb(146, 19, 19); */
    animation-name: samy;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    position: absolute;
    animation-delay: 15s;
    top:400px;
    
    
}
@keyframes samy {
    0%{
        left:0px;
    }
    100%{
        left:1090px;
    }
    
}
.div4{
    width:250px;
    height: 150px;
    border-radius: 20px;
    /* background-color: rgb(30, 4, 100); */
    animation-name: ahmed;
    animation-fill-mode: forwards;
    animation-duration: 5s;
    position: absolute;
    /* margin-left: 1050px; */
    top:600px;
    animation-delay: 20s;
    right:0;
    
    

}
@keyframes ahmed {
    0%{
        right:0px;

    }
    100%{
        right:1090px;
    }
    
}
.div5{
    width: 250px;
    height: 150px;
    border-radius: 20px;
    /* background-color: rgb(146, 19, 19); */
    animation-name:mahmoud;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    position: absolute;
    animation-delay: 26s;
    top:800px;
    
    
}
@keyframes mahmoud {
    0%{
        left:0px;
    }
    100%{
        left:1090px;
    }
    
}
.div6{
    width:250px;
    height: 150px;
    border-radius: 20px;
    /* background-color: rgb(30, 4, 100); */
    animation-name: mohamed;
    animation-fill-mode: forwards;
    animation-duration: 5s;
    position: absolute;
    /* margin-left: 1050px; */
    top:1000px;
    animation-delay: 35s;
    right:0;
    
    

}
@keyframes mohamed {
    0%{
        right:0px;

    }
    100%{
        right:1090px;
    }
    
}